body{
	background: #F4F4F4;
	margin: 0;
}
.page-heading{
	margin-bottom: 20px; 
}
.link-title{
	text-decoration: none;
	font-size: 40px;
}
.container{
	width: 780px;
	margin: 0 auto;
	background: #FFF;
	box-shadow: 0 9px 13px 5px;
}
.header{
	padding: 45px 0 20px 40px;
}
.menu {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
.menu a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.show {
  display: block;
}
p{
	text-align: justify;
}
aside{
	float: left;
	width: 120px;
	padding: 30px 0 0 40px;
}
h1{
	margin: 0px;
	color: #869843;
	font-size: 24px;
	font-family: "Arial Narrow", "Myriad Pro";
	font-weight: normal;
}
h2{
	margin: 20px 0 5px 0;
	color: #3b7687;
	font-size: 15px;
}
.main{
	margin: 0 0 0 180px;
	padding: 35px 40px 30px 0;
	color: #444444;
	font-size: 13px;
	font-family: "Georgia";
	line-height: 18px;
	text-emphasis: justify;
}
.main a:hover{
	color: #444444;
}
.blog{
	margin-top: 10px;
	padding: 30px;
	box-shadow: 0 5px 5px 5px;
	border-radius: 10px;
}
.s2{
	font-size: 30px;
	padding-bottom: 20px;
	color: green;
}
#solar{
	box-shadow: 0 3px 3px 3px;
	border-radius: 5px;
	padding: 8px;
	margin-bottom: 30px;
}
#solar img{
	width: 60%;
	border-radius: 8px;
}
#ozone{
	box-shadow: 0 3px 3px 3px;
	border-radius: 5px;
	padding: 8px;
	margin-bottom: 30px;
}
#ozone img{
	width: 60%;
	border-radius: 8px;
}
#bermuda{
	box-shadow: 0 3px 3px 3px;
	border-radius: 5px;
	padding: 8px;
	margin-bottom: 30px;
}
#bermuda img{
	width: 60%;
	border-radius: 8px;
}
#moon{
	box-shadow: 0 3px 3px 3px;
	border-radius: 5px;
	padding: 8px;
	margin-bottom: 30px;
}
#moon img{
	width: 60%;
	border-radius: 8px;
}
#saturn{
	box-shadow: 0 3px 3px 3px;
	border-radius: 5px;
	padding: 8px;
	margin-bottom: 30px;
}
#saturn img{
	width: 60%;
	border-radius: 8px;
}
button{
	height: 30px;
	border-radius: 10px;
	background: rgb(0, 118, 120); 	
}
.button{
	text-decoration: none;
	color: black;
}
footer{
	background: #d6d6d6;
	padding: 6px 40px 6px 40px;	
	font-family: "Lucida Sans Unicode";
	color: #444444;
	font-size: 11px;
	text-decoration: right;
}
.footer a{
	text-decoration: none;
	color: #262626;
}
.separator{
	color: #FFFFFF;
	font-size: 11px;
}

/* privacy Page Styling */
#privacy-page .description{
	clear: both;
}

/* Contact Page Styling */
#contact #form{
	width: 500px;
	padding: 10px 10px 10px 10px;
	margin: 0 auto;
	box-shadow: 0 2px 2px 2px;
	border-radius: 5px;
}
#contact #page-heading{
	text-align: center;
}
#contact #form input{
	width: 100%;
	border-radius: 5px;
	height: 20px;
	background: #D6D6D6;
}
#contact #form #message{
	width: 100%;
	border-radius: 5px;
	background: #D6D6D6; 
}
#contact #form #submit{
	height: 30px;
	background: rgb(59, 118, 135); 	
}

/*Comment Form */
#comment-form{
	width: 500px;
	padding: 10px 10px 10px 10px;
	margin: 0 auto;
	box-shadow: 0 2px 2px 2px;
	border-radius: 5px;
}
#comment-form #page-heading{
	text-align: center;
}
#comment-form input{
	width: 100%;
	border-radius: 5px;
	height: 20px;
	background: #D6D6D6; 
}
#comment-form #comment{
	width: 100%;
	border-radius: 5px;
	background: #D6D6D6; 	
}
#comment-form #submit{
	height: 30px;
	background: rgb(59, 118, 135); 	
}